form {
    display: flex;
    justify-content: center;
}
.formGroup {
    max-width: 75%;
    margin-top: 2rem;
}
.formControl {
    width: 20rem;
    height: 5rem;
}
label {
    margin-top: 2rem;
    margin-right: 1rem;
    font-size: 3rem;
}
.submitButton {
    height: 3rem;
    width: 6rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 3.2rem;
}